{% extends "base.html"%}
{% block title%}products{% endblock %}
{% block content%}
<h2>my good products</h2>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    add products
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">product info</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/adding_products" method="post">
                    <label for="product-name"></label><br>
                    <input type="text" placeholder="product name" name="product_name"><br>
                    <label for="buying-price"></label><br>
                    <input type="number" placeholder="buying price" name="buying_price"><br>
                    <label for="selling-price"></label><br>
                    <input type="number" placeholder="selling price" name="selling_price"><br>
                    <label for="stock-quantity"></label><br>
                    <input type="number" placeholder="stock quantity" name="stock_quantity"><br>
                    <button type="submit" class="btn btn-primary">add product</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>id</th>
            <th>products</th>
            <th>buying price</th>
            <th>selling price</th>
            <th>stock quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for p in products %}
        <tr>
            <td>{{p[0]}}</td>
            <td>{{p[1]}}</td>
            <td>{{p[2]}}</td>
            <td>{{p[3]}}</td>
            <td>{{p[4]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}